.player-main {
    max-width: 90%;
    margin: 50px auto;
}

#video-container {
    width: 100%;
    background-color: #000;
    margin-bottom: 20px;
}

#vynix-player {
    display: block;
    width: 100%;
    height: auto;
}

#movie-details {
    padding: 30px;
}

#movie-title {
    color: var(--color-text-primary);
    margin-bottom: 5px;
}
